{{template "base" .}}

{{define "title"}}
<title>{{index "title"}}</title>
{{end}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>
                This is about page
            </h1>
            <p>{{index .StringMap "text"}}</p>
            <p>
                {{if ne (index .StringMap "ipAddress") ""}}
                    Your IP address is {{index .StringMap "ipAddress"}}
                {{else}}
                    Please visit <a href="/">Home Page</a>
                {{end}}
            </p>
        </div>
    </div>
</div>
{{end}}